#Database Credentials
DB_USER=Tu_usuario_aqui
DB_PASSWORD=ContraseñaSegura123!
DB_NAME=NombreDeLabdd
DB_PORT=5432

# Conenection String para Prisma / Backend
DATABASE_URL="postgresql://$tu_usuario_aqui:ContraseñaSegura123!@localhost:5432/NomdeDeLabdd?schema=public"