#Database Credentials
DB_USER=Tu_usuario_aqui
DB_PASSWORD=ContraseñaSegura123!
DB_NAME=NombreDeLabdd
DB_PORT=5432

# Conenection String para Prisma / Backend
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"